---
layout: default
title: Scotland JS 2015 Videos
---

<section id="tagline">
  <div class="container">
    <h2>2015</h2>
  </div>

  {% include youtube.html speaker="Philip Roberts" %}
  {% include youtube.html speaker="Lena Reinhard" %}
  {% include youtube.html speaker="Amy Wibowo" %}
  {% include youtube.html speaker="Ben Longden" %}
  {% include youtube.html speaker="Chris Lowis" %}
  {% include youtube.html speaker="Colin Gemmell" %}
  {% include youtube.html speaker="Dave Kennedy" %}
  {% include youtube.html speaker="Gleb Bahmutov" %}
  {% include youtube.html speaker="Greg Tarnoff" %}
  {% include youtube.html speaker="Hubert Sablonni&egrave;re" %}

  {% include youtube.html speaker="Jaume Sanchez" %}
  {% include youtube.html speaker="Joe Nash" %}
  {% include youtube.html speaker="Katie Fenn" %}
  {% include youtube.html speaker="Lewis Cowper" %}
  {% include youtube.html speaker="Mark Connell" %}
  {% include youtube.html speaker="Phil Holden" %}
  {% include youtube.html speaker="Philipp Reither" %}

  {% include youtube.html speaker="Varya Stepanova" %}
</section>
