---
layout: default
title: Scotland JS 2015 speaker-Videos
---

<section class="content-body">
  <div class="container speaker-video_list">
    <h2 class="section-heading customfont">2015</h2>
  </div>

  {% include 2015-speaker-video.html speaker="Philip Roberts" year="2015" %}
  {% include 2015-speaker-video.html speaker="Lena Reinhard" year="2015" %}
  {% include 2015-speaker-video.html speaker="Amy Wibowo" year="2015" %}
  {% include 2015-speaker-video.html speaker="Andrew Duncan" year="2015" %}
  {% include 2015-speaker-video.html speaker="Ben Longden" year="2015" %}
  {% include 2015-speaker-video.html speaker="Chris Lowis" year="2015" %}
  {% include 2015-speaker-video.html speaker="Chris Price" year="2015" %}
  {% include 2015-speaker-video.html speaker="Colin Gemmell" year="2015" %}
  {% include 2015-speaker-video.html speaker="Daniel Perez Alvarez" year="2015" %}
  {% include 2015-speaker-video.html speaker="Dave Kennedy" year="2015" %}
  {% include 2015-speaker-video.html speaker="Francisco M.S. Ferreira" year="2015" %}
  {% include 2015-speaker-video.html speaker="Gleb Bahmutov" year="2015" %}
  {% include 2015-speaker-video.html speaker="Greg Tarnoff" year="2015" %}
  {% include 2015-speaker-video.html speaker="Hubert Sablonni&egrave;re" year="2015" %}
  {% include 2015-speaker-video.html speaker="Jaume Sanchez" year="2015" %}
  {% include 2015-speaker-video.html speaker="Joe Nash" year="2015" %}
  {% include 2015-speaker-video.html speaker="Katie Fenn" year="2015" %}
  {% include 2015-speaker-video.html speaker="Kim Joar Bekkelund" year="2015" %}
  {% include 2015-speaker-video.html speaker="Lewis Cowper" year="2015" %}
  {% include 2015-speaker-video.html speaker="Mark Connell" year="2015" %}
  {% include 2015-speaker-video.html speaker="Orde Saunders" year="2015" %}
  {% include 2015-speaker-video.html speaker="Phil Holden" year="2015" %}
  {% include 2015-speaker-video.html speaker="Philipp Reither" year="2015" %}
  {% include 2015-speaker-video.html speaker="Sam Beckham" year="2015" %}
  {% include 2015-speaker-video.html speaker="Varya Stepanova" year="2015" %}
  {% include 2015-speaker-video.html speaker="WebAudio Hack Day Demo" year="2015" %}
</section>
