%header
  %nav
    .container
      %ul
        %li
          %a{ href: "#schedule" } Schedule
        %li
          %a{ href: "#speakers" } Speakers
        %li
          %a{ href: "#venue" } Venue
        %li
          %a{ href: "#sponsors" } Sponsors
  .banner
    .container
      %h1 Scotland JS
      %h2 May 9th &amp; 10th, 2014

      %a{ href: "#purchase", class: "button-primary" } Purchase Tickets
