---
layout: default
title: ScotlandJS 2016
---

<section class="content-body">
  <div id="schedule">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 id="speaker" style="margin-top:50px" class="section-heading customfont">Schedule</h2>
          <a class="button-on-white black-text" href="#thursday" data-mode="1" target="_blank">Day 1: Thursday</a>
          <a class="button-on-white black-text" href="#friday" data-mode="1" target="_blank">Day 2: Friday</a>
        </div>
      </div>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <section id="schedule" class="content">
        <div class="container">
          <div class="schedule">
            <h2 id="thursday" class="header">Thursday July 19th</h2>
            <div class="schedule--item">
              <div class="time">8am</div>
              <div class="activity">Registration &amp; Tea/Coffee</div>
            </div>
            <div class="schedule--item">
              <div class="time">9am</div>
              <div class="activity">Opening Remarks</div>
            </div>
            <div class="schedule--item">
              <div class="time">9:15am</div>
              <div class="activity">{% include speaker.html speaker="Ola Gasidlo" %}</div>
            </div>

            <div class="schedule--item">
              <div class="time">10am</div>
              <div class="activity">{% include speaker.html speaker="Umar Hansa" %}</div>
            </div>
            <div class="schedule--item">
              <div class="time">10:25am</div>
              <div class="activity">{% include speaker.html speaker="Meara Charnetzki" %}</div>
            </div>
            <div class="schedule--item">
              <div class="time">10:50am</div>
              <div class="activity">{% include speaker.html speaker="Alvin Ourrad" %}</div>
            </div>
            <div class="schedule--item">
              <div class="time">11:10am</div>
              <div class="activity">
                <div class='discussion-slot'>Discussion Slot</div>
                <table class="discussion-slot white-text">
                  <tr>
                    <td>Ozone:</td>
                    <td>&nbsp;Umar Hansa</td>
                  </tr>
                  <tr>
                    <td>Rear Balcony:</td>
                    <td>&nbsp;Meara Charnetzki</td>
                  </tr>
                  <tr>
                    <td>Front Entrance:</td>
                    <td>&nbsp;Alvin Ourrad</td>
                  </tr>
                </table>
              </div>
            </div>

            <div class="schedule--item"></div>

            <div class="schedule--item">
              <div class="time">11:30am</div>
              <div class="activity">Tea/Coffee</div>
            </div>

            <div class="schedule--item">
              <div class="time">11:50am</div>
              <div class="activity">{% include speaker.html speaker="Galuh Sahid" %}</div>
            </div>
            <div class="schedule--item">
              <div class="time">12:15pm</div>
              <div class="activity">{% include speaker.html speaker="James Coglan" %}</div>
            </div>
            <div class="schedule--item">
              <div class="time">12:40pm</div>
              <div class="activity">{% include speaker.html speaker="Vigneshwer Dhinakaran" %}</div>
            </div>
            <div class="schedule--item">
              <div class="time">1:00pm</div>
              <div class="activity">
                <div class='discussion-slot'>Discussion Slot</div>
                <table>
                  <tr>
                    <td>Ozone:</td>
                    <td>&nbsp;Galuh Sahid</td>
                  </tr>
                  <tr>
                    <td>Rear Balcony:</td>
                    <td>&nbsp;James Coglan</td>
                  </tr>
                  <tr>
                    <td>Front Entrance:</td>
                    <td>&nbsp;Vigneshwer Dhinakaran</td>
                  </tr>
                </table>
              </div>
            </div>

            <div class="schedule--item">
              <div class="time">1:20pm</div>
              <div class="activity">Lunch</div>
            </div>

            <div class="schedule--item">
              <div class="time">2:20pm</div>
              <div class="activity">{% include speaker.html speaker="Lora Vardarova" %}</div>
            </div>
            <div class="schedule--item">
              <div class="time">2:45pm</div>
              <div class="activity">{% include speaker.html speaker="Ramon Huidobro" %}</div>
            </div>
            <div class="schedule--item">
              <div class="time">3:10pm</div>
              <div class="activity">{% include speaker.html speaker="Jenn Creighton" %}</div>
            </div>
            <div class="schedule--item">
              <div class="time">3:35pm</div>
              <div class="activity">
                <div class='discussion-slot'>Discussion Slot</div>
                <table>
                  <tr>
                    <td>Ozone:</td>
                    <td>&nbsp;Lora Vardarova</td>
                  </tr>
                  <tr>
                    <td>Rear Balcony:</td>
                    <td>&nbsp;Ramon Huidobro</td>
                  </tr>
                  <tr>
                    <td>Front Entrance:</td>
                    <td>&nbsp;Jenn Creighton</td>
                  </tr>
                </table>
              </div>

            </div>

            <div class="schedule--item"></div>

            <div class="schedule--item">
              <div class="time">4:00pm</div>
              <div class="activity">Tea/Coffee</div>
            </div>

            <div class="schedule--item">
              <div class="time">4:20pm</div>
              <div class="activity">{% include speaker.html speaker="Katie Fenn" %}</div>
            </div>

            <div class="schedule--item">
              <div class="time">6:00pm</div>
              <div class="activity">Close</div>
            </div>







            <h2 id="friday" class="header">Friday July 20th</h2>
            <div class="schedule--item">
              <div class="time">9am</div>
              <div class="activity">Registration &amp; Tea/Coffee</div>
            </div>

            <div class="schedule--item">
              <div class="time">10:00am</div>
              <div class="activity">{% include speaker.html speaker="Claudia Hernández" %}</div>
            </div>
            <div class="schedule--item">
              <div class="time">10:25am</div>
              <div class="activity">{% include speaker.html speaker="Trishul Goel" %}</div>
            </div>
            <div class="schedule--item">
              <div class="time">10:45am</div>
              <div class="activity">{% include speaker.html speaker="Jessica Rose" %}</div>
            </div>
            <div class="schedule--item">
              <div class="time">11:10am</div>
              <div class="activity">
                <div class='discussion-slot'>Discussion Slot</div>
                <table>
                  <tr>
                    <td>Ozone:</td>
                    <td>&nbsp;Claudia Hernández</td>
                  </tr>
                  <tr>
                    <td>Rear Balcony:</td>
                    <td>&nbsp;Trishul Goel</td>
                  </tr>
                  <tr>
                    <td>Front Entrance:</td>
                    <td>&nbsp;Jessica Rose</td>
                  </tr>
                </table>
              </div>
            </div>

            <div class="schedule--item"></div>

            <div class="schedule--item">
              <div class="time">11:30am</div>
              <div class="activity">Tea/Coffee</div>
            </div>


            <div class="schedule--item">
              <div class="time">11:50am</div>
              <div class="activity">{% include speaker.html speaker="Stian Veum Møllersen" %}</div>
            </div>
            <div class="schedule--item">
              <div class="time">12:15pm</div>
              <div class="activity">{% include speaker.html speaker="Florencia Herra Vega" %}</div>
            </div>
            <div class="schedule--item">
              <div class="time">12:40pm</div>
              <div class="activity">{% include speaker.html speaker="Jeff Lembeck" %}</div>
            </div>
            <div class="schedule--item">
              <div class="time">1:00pm</div>
              <div class="activity">
                <div class='discussion-slot'>Discussion Slot</div>
                <table>
                  <tr>
                    <td>Ozone:</td>
                    <td>&nbsp;Stian Veum Møllersen</td>
                  </tr>
                  <tr>
                    <td>Rear Balcony:</td>
                    <td>&nbsp;Florencia Herra Vega</td>
                  </tr>
                  <tr>
                    <td>Front Entrance:</td>
                    <td>&nbsp;Jeff Lembeck</td>
                  </tr>
                </table>
              </div>
            </div>

            <div class="schedule--item"></div>

            <div class="schedule--item">
              <div class="time">1:20pm</div>
              <div class="activity">Lunch</div>
            </div>


            <div class="schedule--item">
              <div class="time">2:20pm</div>
              <div class="activity">{% include speaker.html speaker="Irina Preda" %}</div>
            </div>
            <div class="schedule--item">
              <div class="time">2:45pm</div>
              <div class="activity">{% include speaker.html speaker="Luke Bonaccorsi" %}</div>
            </div>
            <div class="schedule--item">
              <div class="time">3:10pm</div>
              <div class="activity">{% include speaker.html speaker="Brian Holt" %}</div>
            </div>
            <div class="schedule--item">
              <div class="time">3:35pm</div>
              <div class="activity">
                <div class='discussion-slot'>Discussion Slot</div>
                <table>
                  <tr>
                    <td>Ozone:</td>
                    <td>&nbsp;Irina Preda</td>
                  </tr>
                  <tr>
                    <td>Rear Balcony:</td>
                    <td>&nbsp;Luke Bonaccorsi</td>
                  </tr>
                  <tr>
                    <td>Front Entrance:</td>
                    <td>&nbsp;Brian Holt</td>
                  </tr>
                </table>
              </div>
            </div>

            <div class="schedule--item"></div>

            <div class="schedule--item">
              <div class="time">4:00pm</div>
              <div class="activity">Tea/Coffee</div>
            </div>


            <div class="schedule--item">
              <div class="time">4:20pm</div>
              <div class="activity">{% include speaker.html speaker="C J Silverio" %}</div>
            </div>

            <div class="schedule--item">
              <div class="time">6:00pm</div>
              <div class="activity">Closing Remarks & Family Photo</div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>


