---
layout: default
title: ScotlandJS 2016
---

<section class="content-body">
  <div id="">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 id="speaker" style="margin-top:50px" class="section-heading customfont">Schedule</h2>
        </div>
      </div>
      <section id="schedule" class="content">
        <div class="container">
          <div class="schedule">
            <h3 class="header">Thursday June 2nd</h3>
            <div class="schedule--item">
              <div class="time">8am</div>
              <div class="activity">Registration &amp; Tea/Coffee</div>
            </div>
            <div class="schedule--item">
              <div class="time">9am</div>
              <div class="activity">Introduction</div>
            </div>
            <div class="schedule--item">
              <div class="time">9:15am</div>
              <div class="activity">{% include speaker.html speaker="Livi Erickson" %}</div>
            </div>
            <div class="schedule--item">
              <div class="time">10:05am</div>
              <div class="activity">{% include speaker.html speaker="Jem Young" %}</div>
            </div>
            <div class="schedule--item">
              <div class="time">10:30am</div>
              <div class="activity">{% include speaker.html speaker="Charlotte Spencer" %}</div>
            </div>
            <div class="schedule--item">
              <div class="time">10:55am</div>
              <div class="activity">{% include speaker.html speaker="Dan Jenkins" %}</div>
            </div>
            <div class="schedule--item">
              <div class="time">11:20am</div>
              <div class="activity">Discussion Track</div>
            </div>
            <div class="schedule--item">
              <div class="time">11:40am</div>
              <div class="activity break">20 minute break</div>
            </div>
            <div class="schedule--item">
              <div class="time">12:00pm</div>
              <div class="activity">{% include speaker.html speaker="Ewan Dennis" %}</div>
            </div>
            <div class="schedule--item">
              <div class="time">12:25pm</div>
              <div class="activity">{% include speaker.html speaker="Ola Gasidlo" %}</div>
            </div>
            <div class="schedule--item">
              <div class="time">12:50pm</div>
              <div class="activity">{% include speaker.html speaker="Matthew Podwysocki" %}</div>
            </div>
            <div class="schedule--item">
              <div class="time">1:15pm</div>
              <div class="activity">Discussion Track</div>
            </div>
            <div class="schedule--item">
              <div class="time">1:35pm</div>
              <div class="activity break">Lunch</div>
            </div>
            <div class="schedule--item">
              <div class="time">2:35pm</div>
              <div class="activity">{% include speaker.html speaker="James Halliday" %}</div>
            </div>
            <div class="schedule--item">
              <div class="time">3:00pm</div>
              <div class="activity">{% include speaker.html speaker="Chad Gowler" %}</div>
            </div>
            <div class="schedule--item">
              <div class="time">3:25pm</div>
              <div class="activity">{% include speaker.html speaker="Ruth John" %}</div>
            </div>
            <div class="schedule--item">
              <div class="time">3:50pm</div>
              <div class="activity">Discussion Track</div>
            </div>
<!--            <div class="schedule--item">
              <div class="time">4:10pm</div>
              <div class="activity break">Coffee</div>
            </div>
            <div class="schedule--item">
              <div class="time">4:30pm</div>
              <div class="activity">{% include speaker.html speaker="Charlotte Spencer" %}</div>
            </div>
            <div class="schedule--item">
              <div class="time">5:15pm</div>
              <div class="activity">Closing Remarks</div>
            </div>
            <div class="schedule--item">
              <div class="time">5:20pm</div>
              <div class="activity">Family Photo</div>
            </div>
-->
          </div>
        </div>
      </section>

      <section id="schedule" class="content">
        <div class="container">
          <div class="schedule">
            <h3 class="header">Friay June 3rd</h3>
            <div class="schedule--item">
              <div class="time">9am</div>
              <div class="activity">Tea/Coffee</div>
            </div>
            <div class="schedule--item">
              <div class="time">10:05am</div>
              <div class="activity">{% include speaker.html speaker='Matt "Potch" Claypotch' %}</div>
            </div>
            <div class="schedule--item">
              <div class="time">10:30am</div>
              <div class="activity">{% include speaker.html speaker="Clay Smith" %}</div>
            </div>
            <div class="schedule--item">
              <div class="time">10:55am</div>
              <div class="activity">{% include speaker.html speaker="Sílvia Pina" %}</div>
            </div>
            <div class="schedule--item">
              <div class="time">11:20am</div>
              <div class="activity">Discussion Track</div>
            </div>
            <div class="schedule--item">
              <div class="time">11:40am</div>
              <div class="activity break">20 minute break</div>
            </div>
            <div class="schedule--item">
              <div class="time">12:00pm</div>
              <div class="activity">{% include speaker.html speaker="C J Silverio" %}</div>
            </div>
            <div class="schedule--item">
              <div class="time">12:25pm</div>
              <div class="activity">{% include speaker.html speaker="Kim Crayton" %}</div>
            </div>
            <div class="schedule--item">
              <div class="time">12:50pm</div>
              <div class="activity">{% include speaker.html speaker="Cat Hawker" %}</div>
            </div>
            <div class="schedule--item">
              <div class="time">1:15pm</div>
              <div class="activity">Discussion Track</div>
            </div>
            <div class="schedule--item">
              <div class="time">1:35pm</div>
              <div class="activity break">Lunch</div>
            </div>
            <div class="schedule--item">
              <div class="time">2:35pm</div>
              <div class="activity">{% include speaker.html speaker="Robin Mehner" %}</div>
            </div>
            <div class="schedule--item">
              <div class="time">3:00pm</div>
              <div class="activity">{% include speaker.html speaker="Evan Morikawa" %}</div>
            </div>
            <div class="schedule--item">
              <div class="time">3:25pm</div>
              <div class="activity">{% include speaker.html speaker="Irina Shestak" %}</div>
            </div>
            <div class="schedule--item">
              <div class="time">3:50pm</div>
              <div class="activity">Discussion Track</div>
            </div>
            <div class="schedule--item">
              <div class="time">4:10pm</div>
              <div class="activity break">Coffee</div>
            </div>
            <div class="schedule--item">
              <div class="time">4:30pm</div>
              <div class="activity">{% include speaker.html speaker="Raquel Vélez" %}</div>
            </div>
            <div class="schedule--item">
              <div class="time">5:15pm</div>
              <div class="activity">Closing Remarks</div>
            </div>
            <div class="schedule--item">
              <div class="time">5:20pm</div>
              <div class="activity">Family Photo</div>
            </div>
          </div>
        </div>
      </section>

    </div>
  </div>
</section>
