---
layout: default
title: Scotland JS Previous Events
---
<br/>
<section class="content-body">
  <div class="container video_list">
    <br/>
    <h2 class="section-heading">2016 Speaker Highlights</h2>
    <iframe width="1200" height="700" src="https://www.youtube.com/embed/vbwwX5tzqDY" frameborder="0" allowfullscreen></iframe>
  </div>
</section>

<section class="content-body">
  <div class="container video_list">
    <h2 class="section-heading customfont">2016 Videos</h2>
  </div>

  {% include 2016-speaker-video.html speaker="Livi Erickson" %}
  {% include 2016-speaker-video.html speaker="Raquel Vélez" %}


  {% include 2016-speaker-video.html speaker="Charlotte Spencer" %}
  {% include 2016-speaker-video.html speaker="C J Silverio" %}
  {% include 2016-speaker-video.html speaker="Cat Hawker" %}
  {% include 2016-speaker-video.html speaker="Chad Gowler" %}
  {% include 2016-speaker-video.html speaker="Clay Smith" %}
  {% include 2016-speaker-video.html speaker="Dan Jenkins" %}
  {% include 2016-speaker-video.html speaker="Evan Morikawa" %}
  {% include 2016-speaker-video.html speaker="Ewan Dennis" %}
  {% include 2016-speaker-video.html speaker="Irina Shestak" %}
  {% include 2016-speaker-video.html speaker="James Halliday" %}
  {% include 2016-speaker-video.html speaker="Jem Young" %}
  {% include 2016-speaker-video.html speaker="Kim Crayton" %}
  {% include 2016-speaker-video.html speaker="Matt \"Potch\" Claypotch" %}
  {% include 2016-speaker-video.html speaker="Matthew Podwysocki" %}
  {% include 2016-speaker-video.html speaker="Ola Gasidlo" %}
  {% include 2016-speaker-video.html speaker="Robin Mehner" %}
  {% include 2016-speaker-video.html speaker="Ruth John" %}
  {% include 2016-speaker-video.html speaker="Sílvia Pina" %}
  {% include 2016-speaker-video.html speaker="Ruth John and Tim Pietrusky" %}
</section>

<section class="content-body">
  <div class="container video_list">
    <h2 class="section-heading customfont">2015 Videos</h2>
  </div>
  {% include 2015-speaker-video.html speaker="Philip Roberts" %}
  {% include 2015-speaker-video.html speaker="Lena Reinhard" %}

  {% include 2015-speaker-video.html speaker="Amy Wibowo and Matt Baker" %}
  {% include 2015-speaker-video.html speaker="Andrew Duncan" %}
  {% include 2015-speaker-video.html speaker="Ben Longden" %}
  {% include 2015-speaker-video.html speaker="Chris Lowis" %}
  {% include 2015-speaker-video.html speaker="Chris Price" %}
  {% include 2015-speaker-video.html speaker="Colin Gemmell" %}
  {% include 2015-speaker-video.html speaker="Daniel Perez Alvarez" %}
  {% include 2015-speaker-video.html speaker="Dave Kennedy" %}
  {% include 2015-speaker-video.html speaker="Francisco M.S. Ferreira" %}
  {% include 2015-speaker-video.html speaker="Gleb Bahmutov" %}
  {% include 2015-speaker-video.html speaker="Greg Tarnoff" %}
  {% include 2015-speaker-video.html speaker="Hubert Sablonni&egrave;re" %}
  {% include 2015-speaker-video.html speaker="Jaume Sanchez" %}
  {% include 2015-speaker-video.html speaker="Joe Nash" %}
  {% include 2015-speaker-video.html speaker="Katie Fenn" %}
  {% include 2015-speaker-video.html speaker="Kim Joar Bekkelund" %}
  {% include 2015-speaker-video.html speaker="Lewis Cowper" %}
  {% include 2015-speaker-video.html speaker="Mark Connell" %}
  {% include 2015-speaker-video.html speaker="Orde Saunders" %}
  {% include 2015-speaker-video.html speaker="Phil Holden and Lelen Huang" %}
  {% include 2015-speaker-video.html speaker="Philipp Reither" %}
  {% include 2015-speaker-video.html speaker="Sam Beckham" %}
  {% include 2015-speaker-video.html speaker="Varya Stepanova" %}
  {% include 2015-speaker-video.html speaker="WebAudio Hack Day Demo" %}
</section>

<section class="content-body">
  <div class="container video_list">
    <h2 class="section-heading customfont">2014 Videos</h2>
  </div>
  {% include 2014-speaker-video.html speaker="Angelina Fabbro" %}
  {% include 2014-speaker-video.html speaker="Mikeal Rogers" %}

  {% include 2014-speaker-video.html speaker="Amanda O'Connell" %}
  {% include 2014-speaker-video.html speaker="Coby Chapple" %}
  {% include 2014-speaker-video.html speaker="Dave Kennedy" %}
  {% include 2014-speaker-video.html speaker="Gabe Hollombe" %}
  {% include 2014-speaker-video.html speaker="James Coglan" %}
  {% include 2014-speaker-video.html speaker="Jan Monschke" %}
  {% include 2014-speaker-video.html speaker="Jason Frame" %}
  {% include 2014-speaker-video.html speaker="Jaume Sanchez Elias" %}
  {% include 2014-speaker-video.html speaker="Jo Liss" %}
  {% include 2014-speaker-video.html speaker="Joe Pettersson" %}
  {% include 2014-speaker-video.html speaker="Jonathan Lipps" %}
  {% include 2014-speaker-video.html speaker="Jonathan Martin" %}
  {% include 2014-speaker-video.html speaker="John Sutherland" %}
  {% include 2014-speaker-video.html speaker="Justin Searls" %}
  {% include 2014-speaker-video.html speaker="Matt Field" %}
  {% include 2014-speaker-video.html speaker="Tero Parviainen" %}
  {% include 2014-speaker-video.html speaker="Philip Roberts" %}
  {% include 2014-speaker-video.html speaker="Phil Leggetter" %}
  {% include 2014-speaker-video.html speaker="Ron Evans" %}
  {% include 2014-speaker-video.html speaker="Ryan Sandor Richards" %}
  {% include 2014-speaker-video.html speaker="Stian Veum Mollersen" %}
  {% include 2014-speaker-video.html speaker="Sugendran Ganess" %}
  {% include 2014-speaker-video.html speaker="Tom Ashworth" %}
  {% include 2014-speaker-video.html speaker="Zeno Rocha Bueno Netto" %}
</section>

<section class="content-body">
  <div class="container video_list">
    <h2 class="section-heading customfont">2013 Videos</h2>
  </div>
  {% include 2013-speaker-video.html speaker="Jan Lehnardt" %}
  {% include 2013-speaker-video.html speaker="James Shore" %}

  {% include 2013-speaker-video.html speaker="Anton Whalley" %}
  {% include 2013-speaker-video.html speaker="Bernard Kobos" %}
  {% include 2013-speaker-video.html speaker="Boydlee Pollentine" %}
  {% include 2013-speaker-video.html speaker="Colin Gemmell" %}
  {% include 2013-speaker-video.html speaker="Damian Nicolson" %}
  {% include 2013-speaker-video.html speaker="David Bruant" %}
  {% include 2013-speaker-video.html speaker="Dominic Tarr" %}
  {% include 2013-speaker-video.html speaker="Gregor Martynus" %}
  {% include 2013-speaker-video.html speaker="Hassy Veldstra" %}
  {% include 2013-speaker-video.html speaker="Huong Vu" %}
  {% include 2013-speaker-video.html speaker="Jason Frame" %}
  {% include 2013-speaker-video.html speaker="Mark Boas" %}
  {% include 2013-speaker-video.html speaker="Ole Michaelis" %}
  {% include 2013-speaker-video.html speaker="Phil Roberts" %}
  {% include 2013-speaker-video.html speaker="Ryan Sandor Richards" %}
  {% include 2013-speaker-video.html speaker="Sebastian Golasch" %}
</section>

<section class="content-body">
  <div class="container video_list">
    <h2 class="section-heading customfont">2012 Videos</h2>
  </div>
  {% include 2012-speaker-video.html speaker="Peter Cooper" %}

  {% include 2012-speaker-video.html speaker="James Newbery" %}
  {% include 2012-speaker-video.html speaker="Jim Weirich" %}
  {% include 2012-speaker-video.html speaker="Leonado Lenase" %}
  {% include 2012-speaker-video.html speaker="Philip Roberts" %}
  {% include 2012-speaker-video.html speaker="Ryan Sandor Richards" %}
  {% include 2012-speaker-video.html speaker="Tane Piper" %}
</section>


