<section id="access">
  <div class="container">
    <div class="row">
      <div class="col-mg-12 text-center">
        <h2 class="section-heading">Access Articles</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <p class="text-left">
          A number of people that participated in ScotlandCSS and ScotlandJS over the years have kindly written articles on the subject of access.
        </p>
        <p class="text-left">
          <ul style="list-style: none;">

            <li>
              1/10/2018: <a href="/my-experience">My Experience</a> by <a href="https://twitter.com/ecobela" target="_blank">Bela Hamid</a>
            </li>
            <li>
              2/10/2018: <a href="/diversity-tickets-an-avalanche-of-good">Diversity tickets - an avalanche of good!</a> by <a href="https://twitter.com/lost_semicolon" target="_blank">Ewa Grabowiecka</a>
            </li>
            <li>
              3/10/2018: <a href="/tech-conference-with-baby">A Tech Conference With A Baby</a> by <a href="https://twitter.com/natalyathree" target="_blank">Natalya Shelburne</a>
            </li>
            <li>
              4/10/2018: <a href="/connie">Connie</a> by Connie
            </li>
            <li>
              5/10/2018: <a href="/saying-goodbye">Saying Goodbye to ScotlandJS</a> by Kim Crayton
            </li>

          </ul>
        </p>
      </div>
    </div>
  </div>
</section>
