<section id="banner">
  <div class="container">
    <h1>Scotland JS</h1>
    <h2>:::::May 2015::::</h2>

    <a class="button-video" href="#video">
      <span class="icon-play"></span>
      Watch the 2013 video
    </a>
    <a class="close-video" href="#close-video">
      <span class="icon-close"></span>
      Close video
    </a>

    {% if site.purchasetickets %}
    <div class="button-primary">
      <a href="https://ti.to/neouk/scotlandjs-2014">Purchase Tickets</a>
    </div>
    {% endif %}
  </div>
  <div class="video">
    <div class="container">
      <iframe src="//player.vimeo.com/video/70637558?portrait:0" frameborder="0" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowfullscreen"></iframe>
    </div>
  </div>
</section>
