<section id="cfp" class="content-body article">
  <div class="container">
    <div class="row">
      <div class="col-mg-12 text-center">
        <h2 style="margin-top:50px" class="section-heading customfont">Call For Proposals</h2>
        <div class="row">
          <div class="col-md-offset-1 col-md-10">
            <p class="text-left">
              CFP opens on December 1st 2017 and closes on March 1st 2018.
              We want to hear about what you want to talk about!
            </p>
            <p class="text-left">
              Talks will be 20 minutes long to give the event an energetic, fast paced feel.
            </p>
            <p class="text-left">
              The people voting are those that buy tickets prior to the CFP closing. It’s the audience that decide.
            </p>
            <p class="text-left">
              and our selection process is anonymised.
            </p>
            <p class="text-left">
              <h3>Want help with your talk proposal?</h3>
            </p>
            <p class="text-left">
              In 2016 a number of our speakers successfully came through our Diversity CFP Workshops. We've taken this workshop concept and started a global movement to improve the diversity of speakers at ALL tech events!
            </p>
            <p class="text-left">
              The best way to get support with your proposal to ScotlandJS (or any other event) is to attend a workshop.
            </p>
            <p class="text-left">
              If you have any questions or would like a mentor to work with you on your proposal get <a href="mailto:peter@scotlandjs.com?Subject=Speaker%20questions" target="_top">in touch.</a>
            </p>
            <p class="text-left">
              <br/>
              <a class="button-on-white pull-left" href="mailto:peter@scotlandjs.com?Subject=Speaker%20questions" target="_top">Mentor support</a>
              <a id="gdcfpday" class="button-on-white pull-right" href="/global-diversity-cfp-day">Global Diversity CFP Day</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
