<section id="cfp" class="content-alt">
  <div class="container">
    <h3>Call For Proposals</h3>
    <p>
      The Call For Proposals is now open! Submit your talk proposal <a href="http://cfp.scotlandjs.com">here</a>.
    </p>
    <p>
      You have until 23:59 GMT on Wednesday, February 12th to submit your proposal(s), thereafter a blind vote will be made by ticket holders.
    </p>
    <p>
      Here at ScotlandJS we have one criteria for your talk submission(s); that you submit talks on subjects that you are passionate about. Simple as that.
    </p>
    <p>
      We would love presentations that are 20 minutes long and of interest to JavaScript developers.
    </p>
    <p>

      This year we are trying something new with the conference format to encourage more discussion in the community. To achieve this, after each talk a discussion will start in Track 2 based on the subject of that talk. It would be amazing if speakers were available in this session to help explain, clarify and drive a discussion to forward the state-of-the-art, however this is optional.
    </p>

  </div>
</section>
