<section id="charity" class="content-alt">
  <div class="container">
    <h3>Charity Day Tutorial</h3>
    <p>We are pleased to announce that Todd Kaufman and Justin Searls from <a href="http://testdouble.com/" target='_blank'>TestDouble</a> are making the journey from Ohio to put on their Real-world JavaScript Testing workshop as part of ScotlandJS in aid of <a href='https://www.maggiescentres.org' target='blank_'>Maggie's Cancer Centres</a>.
    </p>
    <p>
    	Full details can be found <a href='/full_charity_details'>here</a>.
    </p>
  </div>
</section>
