<div tabindex="-1" role="dialog" id="charlotte" class="portfolio-modal modal fade">
  <div class="modal-content">
    <div data-dismiss="modal" class="close-modal">
      <div class="lr">
        <div class="rl"></div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Charlotte Spencer</h2>
            <div class="portfolio-item"><span class="portfolio-link"><img src={{ "speakers/charlotte_spencer.jpg" | asset_path }} srcset={{ "speakers/charlotte_spencer@2x.jpg" | asset_path }} alt="" width="400" height="289"/></span>
              <div class="portfolio-caption">
                <h3 tabindex="0">Charlotte Spencer</h3>
                <ul class="list-inline social-buttons">
                  <li><a href="https://twitter.com/charlotteis">
                      <span class="sr-only">Twitter @charlotteis</span>
                      <i class="fa fa-twitter"></i></a></li>
                  <li><a href="https://github.com/charlotteis">
                      <span class="sr-only">Github charlotteis</span>
                      <i class="fa fa-github-alt"></i></a></li>
                  <li><a href="http://var.ghost.io/">
                      <span class="sr-only">var.ghost.io</span>
                      <i class="fa fa-globe"></i></a></li>
                </ul>
              </div>
            </div><p>Charlotte Spencer does code and people things for Marks and Spencer. Their goal is to make the web a more accessible place for everyone in terms of both technology and culture, and works extensively in open source for projects like Hoodie and Your First Pr to achieve this. To summarise them in three words: pizza, bed, emoji.</p>
            <button type="button" data-dismiss="modal" class="btn btn-primary"><i class="fa fa-times"></i> Close Abstract</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
