<br/>
<br/>
<section id="childcare" class="content-body article">
  <div class="container">
    <div class="row">
      <div class="col-mg-12 text-center">
        <h2 class="section-heading">Childcare</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <p class="text-left">
          We know how hard it is for parents to attend events like this while juggling childcare. To help with that we will have onsite childcare during the conference!
        </p>
        <p class="text-left">
          The law in Scotland around childcare is very strict to ensure safety and our childcare provider has already performed a full risk assessment.
        </p>
        <p class="text-left">
          If you would like to make use of the childcare facilities we need to know by June 1st 2018 for staffing purposes so please get in touch.
        </p>
        <p>
          <br/>
          <a id="childcare-contact" class="button-on-white" href="mailto:peter@scotlandjs.com?Subject=Childcare%20questions">Contact Us</a>
        </p>

      </div>
    </div>
  </div>
</section>
<br/>
<br/>
<br/>
