<br/>
<br/>
<section id="childcare" class="content-body article">
  <div class="container">
    <div class="row">
      <div class="col-mg-12 text-center">
        <h2 class="section-heading">Childcare</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <p class="text-left">
          We know how hard it is for parents to attend events like this while juggling childcare so, thanks to the kind folks at Cucumber, we will have onsite childcare during the conference!
        </p>
        <p class="text-left">
          The law in Scotland around childcare is very strict to ensure safety and our childcare provider has already performed a full risk assessment. Please note if you live in Scotland and your child would need to be out of school, by law our childcare service provider is legally required to be given a letter from your childs headteacher allowing them to be out of school.
        </p>
        <p class="text-left">
          If you would like to make use of the childcare facilities we do need to know in advance of the event for staffing purposes so please get in touch.
        </p>
        <p>
          <br/>
          <a id="childcare-contact" class="button-on-white" href="mailto:peter@scotlandcss.com?Subject=Childcare%20questions">Contact Us</a>
        </p>

      </div>
    </div>
  </div>
</section>
<br/>
<br/>
<br/>
