<br/>
<br/>
<section id="childcare" class="content-body article">
  <div class="container">
    <div class="row">
      <div class="col-mg-12 text-center">
        <h2 class="section-heading">Childcare: Sold out!</h2>
      </div>
    </div>
<!--     <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <p class="text-left">
          Is now sold out!
        </p>
        <p>
          <br/>
          <a id="childcare-contact" class="button-on-white" href="mailto:peter@scotlandjs.com?Subject=Childcare%20questions">Contact Us</a>
        </p>

      </div>
 -->    </div>
  </div>
</section>
