<section id="diversity">
  <div class="container">
    <div class="row">
      <div class="col-mg-12 text-center">
        <h2 class="section-heading">Diversity Programme</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <p>
          Would you like to to attend ScotlandJS and are part of an underrepresented group? If so we can help!
        </p>
        <p>
          There is funding to support a number of:
          <ul>
            <li>Diversity Support Tickets - which means a free ticket for you!</li>
            <li>Scholarship - which means a free ticket and assistance with travel and accommodation!</li>
          </ul>
        </p>
        <p>
          Diversity Support Tickets are aimed at helping those within daily travelling distance of the conference attend when they would otherwise be unable.
        </p>
        <p>
          Scholarships are targeting helping those from within the UK and Europe to attend. People from further afeild are encouraged to apply and this programme will try to ease the financial burden of attending an event like this.
        </p>
        <p>
          Jessica Rose wil independently be reviewing all submissions and contacting applicants, so make sure and explain why participating will help you.
        </p>
        <br/>
        <p>
          <a id="diversity-application" class="button" href="https://jiggypete.typeform.com/to/hvnhbs" data-mode="1" target="_blank">Apply now!</a>
          <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>
        </p>
        <br/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <p class="text-left">
          We are currently accepting donations to our Diversity Fund, which will be supporting the Diversity Programme. As a thank you for helping grow our community and encourage progammes like this we are happy to add your companies logo to the website.
        </p>
        <p>
          <br/>
          <a class="button" id="donate" href="https://ti.to/scotlandjs/scotlandjs-2016">Donate</a>
        </p>
        <br/>
        <br/>
        <br/>
      </div>
    </div>
  </div>
</section>
