<br/>
<br/>
<section id="diversity">
  <div class="container">
    <div class="row">
      <div class="col-mg-12 text-center">
        <h2 class="section-heading">Diversity Programme</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <p>
          In 2018 we're committing to providing 30 diversity tickets to people from local underrepresented groups!
        </p>
        <p>
          Our Diversity programme in 2016 was a huge success with the support of attendees and many companies!
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-mg-12 text-center">
        💛 💛 💛 Thank you 💛 💛 💛
      </div>
    </div>
<!--     <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <p class="text-left">
          We are currently accepting donations to our Diversity Fund, which will be supporting the Diversity Programme. As a thank you for helping grow our community and encourage progammes like this we are happy to add your companies logo to the website.
        </p>
        <p>
          <br/>
          <a class="button" id="donate" href="https://ti.to/scotlandjs/scotlandjs-2016">Donate</a>
        </p>
        <br/>
        <br/>
        <br/>
      </div>
    </div>
 -->  </div>
</section>
