<section id="diversity">
  <div class="container">
    <div class="row">
      <div class="col-mg-12 text-center">
        <h2 class="section-heading">Diversity Programme</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <p class="text-center">Coming soon!</p>
        <p class="text-center">We are accepting donations to our Diversity Fund, which will be supporting the Diversity Programme. Donations can be made <a href="https://ti.to/scotlandjs/scotlandjs-2016">here</a>.</p>
        <br/>
        <br/>
        <br/>
        <p>
          If you'd like to apply for a diversity ticket or scholarship (ticket+travel+accomodation) to attend the conference we will be accepting applications until May 1st.
        </p>
        <p>
          <a class="typeform-share button" href="https://jiggypete.typeform.com/to/hvnhbs" data-mode="1" target="_blank">Apply now!</a>
          <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>
        <p>
          <br/>

        </p>
      </div>
    </div>
  </div>
</section>
