<br/>
<br/>
<section class="">
  <div class="container">
    <div class="row">
      <div class="col-mg-12 text-center">
        <h2 class="section-heading">Events</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-mg-12 text-center">
        <h3 class="section-heading">June 2nd Evening Options</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 venue">
        <img src="{{ 'promo/whisky.jpg' | asset_path }}"></img>
      </div>
      <div class="col-sm-9">
        <h3 class="section-heading">Whisky JS</h3>
        <p class="text-left">
          <p>Once again we'll be having another edition of the legendary Whisky JS!</p>
          <p>Rod Graham will lead a five dram tasting experience where you will learn all about the water of life.</p>
        </p>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-sm-3 venue">
        <img src="{{ 'promo/hike.jpg' | asset_path }}"></img>
      </div>
      <div class="col-sm-9">
        <h3 class="section-heading">Hike JS</h3>
        <p class="text-left">
          <p>For those who like the outdoors Hike JS will take a short journey up Arthurs Seat lead by the illustrious Lewis Cowper where you will be rewarded with an amazing view across the city.</p>

          <p>Please be prepared for our lovely ever-changing Scottish weather.</p>

          <p>There is a clear path to follow however participation is undertaken at your own risk.</p>
        </p>
      </div>
    </div>
  </div>
</section>
