<br/>
<section id="childcare" class="content-body article">
  <div class="container">
    <div class="row">
      <div class="col-mg-12 text-center">
        <h2 class="section-heading">Global Diversity CFP Day!</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <p class="text-left">
          In 2016 we had an experiment as part of the CFP process that we called the Diversity CFP Workshop. This grew and grew. Within three weeks there were six workshops, in four countries all on the same day, with a LOT of help from our friends!
        </p>

        <p class="text-left">
          Workshop participants in Glasgow, Edinburgh, Sheffield, London, Dublin and Berlin were inspired and enthused by Raquel Vélez, Sarah Mei and Livi Erickson sharing their experience of applying to speak at tech conferences.
        </p>
        <p class="text-left">
          This had a massive impact in the number of people from underrepresented groups applying to speak at ScotlandJS and resulted in three workshop participants making the final ScotlandJS lineup, of the seventeen slots available, and 190 applicants!
        </p>
        <p class="text-left">
          Given the success our conference had with this concept we're turning it into something bigger.
        </p>
        <p class="text-left">
          We want to bring these workshops to you wherever you are, regardless of which technology / language / framework / community you are involved in!
        </p>
        <p class="text-left">
          This is beyond JavaScript, CSS, ScotlandJS or ScotlandCSS!
        </p>
        <p class="text-left">
          We are pleased to announce <a href="https://www.globaldiversitycfpday.com/">Global Diversity CFP Day</a>, which will be held on Saturday February 3rd, 2018.
        </p>
        <p class="text-left">
          If you would like to attend a workshop please sign up to the mailing list and we'll get in touch when tickets are being released around November time.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-mg-12 text-center">
        <h2 class="section-heading">Making it happen</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <p class="text-left">
          To be run everywhere we need your help!
        </p>
        <p class="text-left">
          We want more people from underrepresented groups within the industry to feel safe, supported and encouraged to take to the stage and share their valued perspective and unique voice.
        </p>
        <p class="text-left">
          If you share this vision YOU need to organise / facilitate / mentor / publicise a workshop in your area!
        </p>
        <p class="text-left">
          We'll provide all the materials. All you need is a venue, some lovely folks to lead the event or mentor attendees by sharing their speaking experience, and bags of enthusiasm!
        </p>
        <p class="text-left">
          Why not head over to the <a href="https://www.globaldiversitycfpday.com/">Global Diversity CFP Day</a> site and follow the "Organise a workshop" link?
        </p>
        <p class="text-center">
          ❤  ❤  ❤
        </p>

      </div>
    </div>
  </div>
</section>

