<header id="site-header">
  <nav>
    <a class="icon-menu" href="#"></a>
    <p>Scotland JS</p>
    <div class="container">
      <ul>
        <!-- <li><a href="/#schedule">Schedule</a></li> -->
        <!-- <li><a href="/#speakers">Speakers</a></li> -->
        <!-- <li><a href="/#tickets">Tickets</a></li> -->
        <!-- <li><a href="/#cfp">Call For Proposals</a></li> -->
        <li><a href="/#charity">Charity Day Tutorial</a></li>
        <li>&nbsp;
        <li><a href="/#venue">Venue</a></li>
        <li>&nbsp;
        <li><a href="/#sponsors">Sponsors</a></li>
        <!-- <li><a href="/news">News</a></li> -->
      </ul>
    </div>
    <a class="icon-twitter" href="http://twitter.com/scotlandjs"></a>
  </nav>
  {% include banner.html %}
</header>
