<header id="site-header">
  <nav>
    <a class="icon-menu" href="#"></a>
    <p>Scotland JS</p>
    <div class="container">
      <ul>
        <li><a href="/">Home</a></li>
        <!-- <li><a href="/discussion_track">Discussion Track</a></li> -->
        <li><a href="/cfp">Call For Proposals</a></li>
        <li><a href="/charity_tutorial">Charity Tutorial</a></li>
        <li><a href="/sponsors">Sponsors</a></li>
        <!-- <li><a href="/timeline">Timeline</a></li> -->
        <!-- <li><a href="/#venue">Venue</a></li> -->
      </ul>
    </div>
    <a class="icon-twitter" href="http://twitter.com/scotlandjs"></a>
  </nav>
  {% include banner.html %}
</header>
