<section id="cfp" class="content-body article">
  <div class="container">
    <div class="row">
      <div class="col-mg-12 text-center">
        <h2 style="margin-top:50px" class="section-heading customfont">2018</h2>
        <div class="row">
          <div class="col-md-offset-1 col-md-10">
            <p class="text-left">
              We've had a year off and ScotlandJS is back bigger than ever!
            </p>
            <p class="text-left">
              On July 19th and 20th 2018, ScotlandJS returns with it's tried and trusted single track format and fast paced 20 minute talks with discussion slots with speakers after every 3 talks.
            </p>
            <p class="text-left">
              <a href="/#tickets">Tickets</a> go on sale and <a href="/#cfp">CFP</a> opens on December 1st!
            </p>
            <p class="text-left">
              You can vote on the anonymised talk submissions by purchasing your ticket before the <a href="/#cfp">CFP</a> closes on March 1st.
            </p>
            <p class="text-left">
              We have some amazing invited speakers and continue our committment to diversity and inclusion with 30 free <a href="/#diversity">diversity tickets</a> for attendees, free childcare and have launched <a href="/global-diversity-cfp-day">Global Diversity CFP Day</a> as a seperate event to encourage people from underrepresented groups to apply to speak at events around the world!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
<br/>
<br/>
<br/>
</section>
