 <div tabindex="-1" role="dialog" aria-hidden="true" id="livi" class="portfolio-modal modal fade">
  <div class="modal-content">
    <div data-dismiss="modal" class="close-modal">
      <div class="lr">
        <div class="rl"></div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Livi Erickson</h2>
            <div class="portfolio-item">
              <span class="portfolio-link">
                <img src={{ "speakers/livi_erickson.jpg" | asset_path }} srcset={{ "speakers/livi_erickson@2x.jpg" | asset_path }} alt="Livi Erickson" width="400" height="289"/>
              </span>
              <div class="portfolio-caption">
                <h3>Livi Erickson</h3>
                <ul class="list-inline social-buttons">
                  <li><a href="https://twitter.com/misslivirose"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="https://github.com/misslivirose"><i class="fa fa-github-alt"></i></a></li>
                  <li><a href="http://livierickson.com/"><i class="fa fa-globe"></i></a></li>
                </ul>
              </div>
            </div><p>Livi Erickson is a virtual and augmented reality developer evangelist at Microsoft, focusing on development for VR and AR platforms. She is passionate about teaching and inspiring new virtual and augmented reality developers and enjoys experimenting with different headsets and gadgets. Livi has built and released apps for desktop and mobile VR, created several VR-enabled websites, presented JavaScript for VR at JS Conf Budapest 2015, and taught Intro to Virtual Reality Development at the University of Bremen as part of the 2015 Informatica Feminale summer program. She is excited about the potential of immersive computing, and runs the blog ‘The Matrix is my Office’.</p>
            <button type="button" data-dismiss="modal" class="btn btn-primary"><i class="fa fa-times"></i> Close Abstract</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
