<div tabindex="-1" role="dialog" aria-hidden="true" id="ola" class="portfolio-modal modal fade">
  <div class="modal-content">
    <div data-dismiss="modal" class="close-modal">
      <div class="lr">
        <div class="rl"></div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Ola Gasidlo</h2>
            <div class="portfolio-item"><span class="portfolio-link"><img src={{ "speakers/ola_gasidlo.jpg" | asset_path }} srcset={{ "speakers/ola_gasidlo@2x.jpg" | asset_path }} alt="Ola Gasidlo" width="400" height="289"/></span>
              <div class="portfolio-caption">
                <h3>Ola Gasidlo</h3>
                <ul class="list-inline social-buttons">
                  <li><a href="https://twitter.com/misprintedtype"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="https://github.com/zoepage"><i class="fa fa-github-alt"></i></a></li>
                  <li><a href="http://hood.ie"><i class="fa fa-globe"></i></a></li>
                </ul>
              </div>
            </div><p>Ola is a front-end / JavaScript developer, core member of Team Hoodie and organiser of OpenTechSchool Dortmund. She loves making the web accessible for everyone, riding the trails and Emma-driven development.</p>
            <button type="button" data-dismiss="modal" class="btn btn-primary"><i class="fa fa-times"></i> Close Abstract</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
