 <div tabindex="-1" role="dialog" aria-hidden="true" id="robin" class="portfolio-modal modal fade">
    <div class="modal-content">
      <div data-dismiss="modal" class="close-modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>Robin Mehner</h2>
              <div class="portfolio-item"><span class="portfolio-link"><img src={{ "speakers/robin_mehner.jpg" | asset_path }} srcset={{ "speakers/robin_mehner@2x.jpg" | asset_path }} alt="Robin Mehner" width="400" height="289"/></span>
                <div class="portfolio-caption">
                  <h3>Robin Mehner</h3>
                  <ul class="list-inline social-buttons">
                    <li><a href="https://twitter.com/rmehner"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://github.com/rmehner"><i class="fa fa-github-alt"></i></a></li>
                    <li><a href="http://coding-robin.de/"><i class="fa fa-globe"></i></a></li>
                  </ul>
                </div>
              </div>
              <p>
                Robin loves The Semicolons, but not the semicolon. He's living in Berlin and
runs several community events with his friends like BerlinJS, Reject.JS and NodeCopter.
While he earned his JavaScript chops during the great browser wars, he also explored other
languages on the way.
              </p>
              <button type="button" data-dismiss="modal" class="btn btn-primary"><i class="fa fa-times"></i> Close Abstract</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
