<section id="schedule" class="content">
  <div class="container">
    <table class="schedule">
      <thead>
        <tr>
          <th></th>
          <th>Keynote</th>
          <th>Speakers</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td>{% include speaker.html speaker="Philip Roberts" %}</td>
          <td>{% include speaker.html speaker="Lena Reinhard" %}</td>
        </tr>
        <tr>
          <td></td>
          <td>{% include speaker.html speaker="Lewis Cowper" %}</td>
          <td>{% include speaker.html speaker="Francisco M.S. Ferreira" %}</td>
        </tr>
        <tr>
          <td></td>
          <td>{% include speaker.html speaker="Katie Fenn" %}</td>
          <td>{% include speaker.html speaker="Andrew Duncan" %}</td>
        </tr>

        <tr>
          <td></td>
          <td>{% include speaker.html speaker="Ben Longden" %}</td>
          <td>{% include speaker.html speaker="Joe Nash" %}</td>
        </tr>

        <!-- tea break -->

        <tr>
          <td></td>
          <td>{% include speaker.html speaker="Dave Kennedy" %}</td>
          <td>{% include speaker.html speaker="Kim Joar Bekkelund" %}</td>
        </tr>

        <tr>
          <td></td>
          <td>{% include speaker.html speaker="Greg Tarnoff" %}</td>
          <td>{% include speaker.html speaker="Mark Connell" %}</td>
        </tr>

        <tr>
          <td></td>
          <td>{% include speaker.html speaker="Gleb Bahmutov" %}</td>
          <td>{% include speaker.html speaker="Sam Beckham" %}</td>
        </tr>

        <!-- lunch -->

        <tr>
          <td></td>
          <td>{% include speaker.html speaker="Hubert Sablonni&egrave;re" %}</td>
          <td>{% include speaker.html speaker="Varya Stepanova" %}</td>
        </tr>

        <tr>
          <td></td>
          <td>{% include speaker.html speaker="Daniel Perez Alvarez" %}</td>
          <td>{% include speaker.html speaker="Philipp Reither" %}</td>
        </tr>

        <tr>
          <td></td>
          <td>{% include speaker.html speaker="Chris Price" %}</td>
          <td>{% include speaker.html speaker="Jaume Sanchez" %}</td>
        </tr>

        <!-- tea break -->

        <tr>
          <td></td>
          <td>{% include speaker.html speaker="Orde Saunders" %}</td>
          <td>{% include speaker.html speaker="Phil Holden" %}</td>
        </tr>

        <tr>
          <td></td>
          <td>{% include speaker.html speaker="Amy Wibowo" %}</td>
          <td>{% include speaker.html speaker="Chris Lowis" %}</td>
        </tr>

        <tr>
          <td></td>
          <td>{% include speaker.html speaker="Colin Gemmell" %}</td>
          <td>{% include speaker.html speaker="WebAudio Hack Day Demo" %}</td>
        </tr>

      </tbody>
    </table>


    </table>
  </div>
</section>
