<section id="schedule" class="content">
  <div class="container">
    <h3>Schedule</h3>

    <table class="schedule">
      <thead>
        <tr>
          <th></th>
          <th>May 9th</th>
          <th>May 10th</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>8am</td>
          <td>Registration &amp; Tea/Coffee</td>
          <td>Tea/Coffee</td>
        </tr>
        <tr>
          <td>9am</td>
          <td>{% include speaker.html speaker="Angelina Fabbro" %}</td>
          <td>{% include speaker.html speaker="Mikeal Rogers" %}</td>
        </tr>
        <tr>
          <td>10am</td>
          <td>Speaker info</td>
          <td>Speaker info</td>
        </tr>
        <tr>
          <td>10.45am</td>
          <td>Speaker info</td>
          <td>Speaker info</td>
        </tr>
        <tr class="break">
          <td colspan="3">
            20 minute break
          </td>
        </tr>
        <tr>
          <td>11.45am</td>
          <td>Speaker info</td>
          <td>Speaker info</td>
        </tr>
        <tr>
          <td>12.30pm</td>
          <td>Speaker info</td>
          <td>Speaker info</td>
        </tr>
        <tr class="break">
          <td colspan="3">
            Lunch
          </td>
        </tr>
        <tr>
          <td>2.10pm</td>
          <td>Speaker info</td>
          <td>Speaker info</td>
        </tr>
        <tr>
          <td>2.55pm</td>
          <td>Speaker info</td>
          <td>Speaker info</td>
        </tr>
        <tr class="break">
          <td colspan="3">
            20 minute break
          </td>
        </tr>
        <tr>
          <td>3.55pm</td>
          <td>Speaker info</td>
          <td>Speaker info</td>
        </tr>
        <tr>
          <td>4.40pm</td>
          <td>Speaker info</td>
          <td>Speaker info</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td>5.20pm</td>
          <td>End of day one</td>
          <td>Closing remarks</td>
        </tr>
      </tfoot>
    </table>
  </div>
</section>
