<section class="content-body">
  <div id="talks">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 id="speaker" style="margin-top:50px" class="section-heading customfont">Speakers</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 text-center">
          {% include speaker.html speaker="Raquel Vélez" %}
          {% include speaker.html speaker="Livi Erickson" %}
          {% include speaker.html speaker="Ola Gasidlo" %}

          {% include speaker.html speaker="Robin Mehner" %}
          {% include speaker.html speaker="Charlotte Spencer" %}
          {% include speaker.html speaker="Irina Shestak" %}

          {% include speaker.html speaker="Sílvia Pina" %}
          {% include speaker.html speaker="Cat Hawker" %}
          {% include speaker.html speaker="Chad Gowler" %}

          {% include speaker.html speaker="Jem Young" %}
          {% include speaker.html speaker="Kim Crayton" %}
          {% include speaker.html speaker="Ruth John" %}
        <div>
      </div>
    </div>
  </div>
</section>
