{% for s in site.data.speakers %}
  {% if s.name == include.speaker %}
    {% assign speaker = s %}
  {% endif %}
{% endfor %}


<a href="#{{speaker.individual_page}}" data-toggle="modal" class="speaker col-md-4 col-sm-6"><img src={{ speaker.image | asset_path }} srcset={{ speaker.image2 | asset_path }} alt="{{speaker.name}}" width="150" height="150"/>
  <div class="info">
    <h3>
      <span aria-hidden="true">{{speaker.name}}</span>
      <small>{{speaker.twitter}}</small>
    </h3>
    <p></p>
  </div>
</a>

<div tabindex="-1" role="dialog" id="{{speaker.individual_page}}" class="portfolio-modal modal fade">
  <div class="modal-content">
    <div data-dismiss="modal" class="close-modal">
      <div class="lr">
        <div class="rl"></div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>{{speaker.name}}</h2>
            <div class="portfolio-item">
              <span class="portfolio-link">
                <img src={{ speaker.bio_image | asset_path }} srcset={{ speaker.bio_image2 | asset_path }} alt="" width="400" height="289"/>
              </span>
              <div class="portfolio-caption">
                <h3 tabindex="0">{{speaker.name}}</h3>
                <ul class="list-inline social-buttons">
                  {% if speaker.twitter %}
                    <li>
                      <a href="https://twitter.com/{{speaker.twitter}}">
                        <span class="sr-only">Twitter {{speaker.twitter}}</span>
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                  {% endif %}
                  {% if speaker.github %}
                    <li>
                      <a href="https://github.com/{{speaker.github}}">
                        <span class="sr-only">Github {{speaker.github}}</span>
                        <i class="fa fa-github-alt"></i>
                      </a>
                    </li>
                  {% endif %}
                  {% if speaker.website %}
                    <li>
                      <a href="{{speaker.website}}">
                        <span class="sr-only">{{speaker.website}}</span>
                        <i class="fa fa-globe"></i>
                      </a>
                    </li>
                  {% endif %}
                </ul>
              </div>
            </div>
            <p>{{speaker.bio}}</p>
            <button type="button" data-dismiss="modal" class="btn btn-primary"><i class="fa fa-times"></i> Close Abstract</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
