{% for s in site.data.speakers %}
  {% if s.name == include.speaker %}
    {% assign speaker = s %}
  {% endif %}
{% endfor %}


<a href="#{{speaker.individual_page}}" data-toggle="modal" class="speaker  col-md-4 col-sm-6"><img src={{ speaker.image | asset_path }} srcset={{ speaker.image2 | asset_path }} alt="{{speaker.name}}" width="150" height="150"/>
  <div class="info">
  <h3>
    <span aria-hidden="true">{{speaker.name}}</span>
    <small>{{speaker.twitter}}</small>
  </h3>
  <p></p>
  </div>
</a>
