<section id="speakers" class="content-alt">
  <div class="container">
    <h3>Speakers</h3>

    <ul class="speakers keynote">
      <li>
        <figure>
          <img src="{{ 'speakers/jan.jpg' | asset_path }}" />
          <caption>
            <h4>Jan Lehnardt</h4>
            <em>@janl</em>
          </caption>
        </figure>
      </li>
      <li>
        <figure>
          <img src="{{ 'speakers/james.jpg' | asset_path }}" />
          <caption>
            <h4>James Shore</h4>
            <em>@jamesshore</em>
          </caption>
        </figure>
      </li>
    </ul>

    <ul class="speakers">
    {% for speaker in site.data.speakers %}
      <li>
        <figure>
          <img src="{{ speaker.image | asset_path }}" />
          <caption>
            <h4>{{ speaker.name }}</h4>
            <em>{{ speaker.twitter }}</em>
            <p>{{ speaker.title }}</p>
          </caption>
        </figure>
      </li>
    {% endfor %}
    </ul>
  </div>
</section>
