<section id="sponsors">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="section-heading">Sponsors</h2>
          <p class="text-muted">Please <a href="mailto:peter@scotlandjs.com">contact us</a> for sponsorship and diversity support opportunities.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-md-10"><a href="https://www.fanduel.com/about" title="fanduel" class="sponsor col-sm-12"><img width="400" src={{ "sponsors/fanduel.png" | asset_path }} alt="fanduel" class="img-responsive img-centered"></a>
      </div>
    </div>
  </div>
</section>
<hr/>
<section id="diversity">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="section-heading">Diversity Supporters</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <a href="https://www.fanduel.com/about" title="fanduel" class="sponsor col-sm-12">
          <img width="400" src={{ "sponsors/fanduel.png" | asset_path }} alt="fanduel" class="img-responsive img-centered">
        </a>
      </div>

      <div class="col-md-offset-1 col-md-10">
        <a href="https://www.cucumber.io/" title="cucumber" class="sponsor col-sm-12">
          <img width="400" src={{ "sponsors/cucumber.png" | asset_path }} alt="cucumber" class="img-responsive img-centered">
        </a>
      </div>
      <div class="row">
        <div class="col-md-offset-1 col-md-10"><a href="https://www.cultivatehq.com" title="cultivatel" class="sponsor col-sm-12"><img width="400" src={{ "sponsors/cultivate.jpg" | asset_path }} alt="cultivatel" class="img-responsive img-centered"></a>
        </div>
      </div>

      <div class="col-md-offset-1 col-md-10">
        <a href="https://www.amazon.com/" title="amazon" class="sponsor col-sm-12">
          <img width="400" src={{ "sponsors/amazon.png" | asset_path }} alt="amazon" class="img-responsive img-centered">
        </a>
      </div>
      <div class="col-md-offset-1 col-md-10">
        <a href="http://www.scotlandis.com/" title="Scotland I S" class="sponsor col-sm-12">
          <img width="400" src={{ "sponsors/scotlandIS-logo.png" | asset_path }} alt="Scotland I S" class="img-responsive img-centered">
        </a>
      </div>
      <div class="col-md-offset-1 col-md-10">
        <a href="http://www.scottlogic.com/" title="scott logic" class="sponsor col-sm-12">
          <img width="400" src={{ "sponsors/scott_logic.png" | asset_path }} alt="scott logic" class="img-responsive img-centered">
        </a>
      </div>
      <div class="col-md-offset-1 col-md-10">
        <a href="http://www.codeclan.com/" title="code clan" class="sponsor col-sm-12">
          <img width="400" src={{ "sponsors/codeclan-logo.png" | asset_path }} alt="code clan" class="img-responsive img-centered">
        </a>
      </div>
      <div class="col-md-offset-1 col-md-10">
        <a href="http://www.girlgeekscotland.com/" title="girl geeks scotland" class="sponsor col-sm-12">
          <img width="400" src={{ "sponsors/girl-geeks.png" | asset_path }} alt="girl geeks scotland" class="img-responsive img-centered">
        </a>
      </div>
      <div class="col-md-offset-1 col-md-10">
        <a href="https://www.futurelearn.com/" title="futurelearn" class="sponsor col-sm-12">
          <img width="400" src={{ "sponsors/futurelearn.jpg" | asset_path }} alt="futurelearn" class="img-responsive img-centered">
        </a>
      </div>
      <div class="col-md-offset-1 col-md-10">
        <a href="https://www.zendesk.com/" title="zendesk" class="sponsor col-sm-12">
          <img width="400" src={{ "sponsors/zendesk.png" | asset_path }} alt="zendesk" class="img-responsive img-centered">
        </a>
      </div>
    </div>
  </div>
</section>
<section id="diversity">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="section-heading">Supporters</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <a href="https://nimblea.pe" title="Nimble Ape" class="sponsor col-sm-12">
          <img width="400" src={{ "sponsors/Nimble-Ape.png" | asset_path }} alt="Nimble Ape" class="img-responsive img-centered">
        </a>
      </div>
      <div class="col-md-offset-1 col-md-10">
        <a href="http://www.yoomee.com" title="yoomee" class="sponsor col-sm-12">
          <img width="400" src={{ "sponsors/yoomee.jpg" | asset_path }} alt="yoomee" class="img-responsive img-centered">
        </a>
      </div>
    </div>
  </div>
</section>
