<section id="sponsors">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="section-heading">Platinum Sponsor</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-md-10"><a href="https://www.fanduel.com/" title="fanduel" class="sponsor col-sm-12"><img width="400" src={{ "sponsors/fanduel.png" | asset_path }} alt="fanduel" class="img-responsive img-centered"></a>
        <div class="team-member">
          <p class="text-muted">Please <a href="mailto:peter@scotlandjs.com">contact us</a> for sponsorship and diversity support opportunities.</p>
        </div>
      </div>
    </div>
  </div>
</section>
