<!DOCTYPE html>
<html>
  <head>
    <title>Sponsorship Packages</title>
    <link rel="stylesheet" href="/assets/application-0a60ced13d576e40943ecac809aca63d.css">
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif" rel="stylesheet" type="text/css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
    <script src="//maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-46640560-1']);
      _gaq.push(['_setDomainName', 'scotlandjs.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <script src="/assets/application-2948ed512d099d61331c7a9a718c6ded.js"></script>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
  </head>
  <body>
    <header id="site-header">
      <nav>
        <a class="icon-menu" href="#"></a>
        <p>Scotland JS</p>
        <div class="container">
          <ul>
            <!-- <li><a href="/#schedule">Schedule</a></li> -->
            <!-- <li><a href="/#speakers">Speakers</a></li> -->
            <li><a href="/#tickets">Tickets</a></li>
            <li><a href="/#cfp">Call For Proposals</a></li>
            <li><a href="/#charity">Charity Day Tutorial</a></li>
            <li><a href="/#venue">Venue</a></li>
            <li><a href="/#sponsors">Sponsors</a></li>
            <!-- <li><a href="/news">News</a></li> -->
          </ul>
        </div>
        <a class="icon-twitter" href="http://twitter.com/scotlandjs"></a>
      </nav>
      <section id="banner">
        <div class="container">
          <h1>Scotland JS</h1>
          <h2>May 9th &amp; 10th 2014</h2>

          <a class="button-video" href="#video">
            <span class="icon-play"></span>
            Watch the 2013 video
          </a>
          <a class="close-video" href="#close-video">
            <span class="icon-close"></span>
            Close video
          </a>


        </div>
        <div class="video">
          <div class="container">
            <iframe src="//player.vimeo.com/video/70637558?portrait:0" frameborder="0" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowfullscreen"></iframe>
          </div>
        </div>
      </section>

    </header>

    <section id="tagline" class="content">
      <div class="container">
        <h3>Sponsorship Packages</h3>
        <p>
          Please take the time to look through our Sponsorship Packages for the 2014 conference.
          If you or your company is interested in sponsoring, or has any questions about the packages, please get in touch with us at <a href="mailto:scotlandjs@neo.com?Subject=Sponsorship%20enquiry">scotlandjs@neo.com</a>.
        </p>
      </div>
    </section>

  <section id="sponsorship-packages" class="content">
    <div class="container">
      <section id='platinum' class='content'>
        <header><h1>Platinum: &#163;3000 + VAT</h1></header>
        <p>
          <ul>
             <li>Banner on main stage(*)</li>
             <li>Prominent billing on website</li>
             <li>250 word description and logo in programme</li>
             <li>5 session passes</li>
             <li>Exhibit Table</li>
             <li>Flier handout to delegates(*)</li>
          </ul>
        </p>
      </section>
      <section id='gold' class='content-alt'>
        <header><h1>Gold: &#163;2000 + VAT</h1></header>
        <p>
          <ul>
              <li>Company logo on website</li>
              <li>Company logo on shared Banner on main stage</li>
              <li>150 word description and logo in programme</li>
              <li>3 session passes</li>
              <li>Flier handout to delegates(*)</li>
              <li>50% discount on Exhibit Table</li>
            </ul>
        </p>
      </section>

      <section id='silver' class='content'>
        <header><h1>Silver: &#163;750 + VAT</h1></header>
        <p>
          <ul>
            <li>Company logo on website</li>
            <li>100 word description and logo in programme</li>
            <li>1 session pass</li>
            <li>25% discount on Exhibit Table</li>
          </ul>
        </p>
      </section>
      <section id='exhibit-table' class='content-alt'>
        <header><h1>Exhibit Table: &#163;400 + VAT</h1></header>
        <p>
          <ul>
            <li>Prominent position in the breakout area</li>
          </ul>
        </p>
      </section>
      <p>* Supplied by sponsor</p>
  </div>
</section>

    <footer>
  <div class="container">
    <p>&copy; 2014 Scotland JS Conference. All rights reserved.</p>
  </div>
</footer>

  </body>
</html>
