<section id="tagline">
  <div class="container">
    <p>ScotlandJS is an event based in the heart of Edinburgh which aims to give everyone the opportunity share and learn all that is new in JavaScript.</a></p>
  </div>
</section>

<section id="schedule" class="content-alt">
  <div class="container">
    <h1>Events</h1>
      May 6th: <a href="/charity_tutorial">Web Audio Hack Day</a><br/>
      May 7th and 8th: ScotlandJS conference<br/>
      May 9th: <a href="/charity_tutorial">JS Code Retreat</a><br/>
  </div>
</section>
