<section id="team" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">The Team</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="team-member"><img width="225" height="225" src={{ "team/jiggy_pete.jpg" | asset_path }} alt="Peter Aitken" class="img-responsive img-circle">
          <h3 tabindex="0">Peter Aitken</h3>
          <p class="text-muted"><a href="http://scotlandjs.com">Organiser</a></p>
          <ul class="list-inline social-buttons">
            <li><a href="https://twitter.com/jiggy_pete">
                <span class="sr-only">Twitter @jiggy_pete</span>
                <i class="fa fa-twitter"></i></a></li>
            <li><a href="http://litmus.com/">
                <span class="sr-only">Litmus</span>
                <i class="fa fa-globe"></i></a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="team-member"><img width="225" height="225" src={{ "team/philip-roberts.png" | asset_path }} alt="Philip Roberts" class="img-responsive img-circle">
          <h3>Philip Roberts</h3>
          <p class="text-muted">MC</p>
          <ul class="list-inline social-buttons">
            <li><a href="https://twitter.com/philip_roberts"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://github.com/latentflip/">
                <span class="sr-only">https://github.com/latentflip</span>
                <i class="fa fa-github"></i></a></li>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="team-member"><img width="225" height="225" src={{ "team/val-1.png" | asset_path }} alt="Valerie Dryden" class="img-responsive img-circle">
          <h3>Valerie Dryden</h3>
          <p class="text-muted">MC</p>
          <ul class="list-inline social-buttons">
            <li><a href="https://twitter.com/outragedracoon"><i class="fa fa-twitter"></i></a></li>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="team-member"><img width="225" height="225" src={{ "team/alan.jpg" | asset_path }} alt="Alan Gardner" class="img-responsive img-circle">
          <h3 tabindex="0">Alan Gardner</h3>
          <p class="text-muted">Volunteer</p>
          <ul class="list-inline social-buttons">
            <li><a href="https://twitter.com/mr_urf">
                <span class="sr-only">Twitter @mr_urf</span>
                <i class="fa fa-twitter"></i></a></li>
            <li><a href="https://github.com/urfolomeus">
                <span class="sr-only">Github urfolomeus</span>
                <i class="fa fa-github-alt"></i></a></li>
            <li><a href="http://cultivatehq.com/">
                <span class="sr-only">cultivatehq.com</span>
                <i class="fa fa-globe"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member"><img width="225" height="225" src={{ "team/amber.jpg" | asset_path }} alt="Amber Wilson" class="img-responsive img-circle">
          <h3>Amber Wilson</h3>
          <p class="text-muted">Volunteer</p>
          <ul class="list-inline social-buttons">
            <li>
              <a href="https://amberwilson.co.uk/">
                <span class="sr-only">amberwilson.co.uk</span>
                <i class="fa fa-globe"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/ambrwlsn90">
                <span class="sr-only">Twitter @ambrwlsn90</span>
                <i class="fa fa-twitter"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="team-member"><img width="225" height="225" src={{ "team/carol.jpg" | asset_path }} alt="Carol Dawson" class="img-responsive img-circle">
          <h3>Carol Dawson</h3>
          <p class="text-muted">Volunteer</p>
          <ul class="list-inline social-buttons">
            <li>
              <a href="https://twitter.com/trillabee">
                <span class="sr-only">Twitter @trillabee</span>
                <i class="fa fa-twitter"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="team-member"><img width="225" height="225" src={{ "team/evelyn.jpg" | asset_path }} alt="Evelyn Utterson" class="img-responsive img-circle">
          <h3>Evelyn Utterson</h3>
          <p class="text-muted">Volunteer</p>
          <ul class="list-inline social-buttons">
            <li>
              <a href="https://twitter.com/evelynutterson">
                <span class="sr-only">Twitter @evelynutterson</span>
                <i class="fa fa-twitter"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="team-member"><img width="225" height="225" src={{ "team/jaycee.jpg" | asset_path }} alt="Jaycee Cheong" class="img-responsive img-circle">
          <h3>Jaycee Cheong</h3>
          <p class="text-muted">Volunteer</p>
          <ul class="list-inline social-buttons">
            <li>
              <a href="https://twitter.com/herecomesjaycee">
                <span class="sr-only">Twitter @herecomesjaycee</span>
                <i class="fa fa-twitter"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="team-member"><img width="225" height="225" src={{ "team/katie_fenn.jpg" | asset_path }} alt="Katie Fenn" class="img-responsive img-circle">
          <h3 tabindex="0">Katie Fenn</h3>
          <p class="text-muted">Keynote Speaker & Volunteer 🚀</p>
          <ul class="list-inline social-buttons">
            <li><a href="https://twitter.com/katie_fenn">
                <span class="sr-only">Twitter @katie_fenn</span>
                <i class="fa fa-twitter"></i></a></li>
            <li><a href="http://katiefenn.co.uk/">
                <span class="sr-only">katiefenn.co.uk</span>
                <i class="fa fa-globe"></i></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="team-member"><img width="225" height="225" src={{ "team/olawale.jpg" | asset_path }} alt="Olawale Onabola" class="img-responsive img-circle">
          <h3>Olawale Onabola</h3>
          <p class="text-muted">Volunteer</p>
          <ul class="list-inline social-buttons">
            <li>
              <a href="https://olawaleonabola.me/">
                <span class="sr-only">olawaleonabola.me</span>
                <i class="fa fa-globe"></i>
              </a>
            </li>
            <li>
              <a href="https://github.com/walexi">
                <span class="sr-only">Github walexi</span>
                <i class="fa fa-github-alt"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="team-member"><img width="225" height="225" src={{ "team/sareh.jpg" | asset_path }} alt="Sareh Heidari" class="img-responsive img-circle">
          <h3>Sareh Heidari</h3>
          <p class="text-muted">Volunteer</p>
          <ul class="list-inline social-buttons">
            <li><a href="https://twitter.com/sareh88"><i class="fa fa-twitter"></i></a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="team-member"><img width="225" height="225" src={{ "team/tj.jpg" | asset_path }} alt="TJ Sheehy" class="img-responsive img-circle">
          <h3>TJ Sheehy</h3>
          <p class="text-muted">Volunteer</p>
          <ul class="list-inline social-buttons">
            <li>
              <a href="https://twitter.com/tjsheehy">
                <span class="sr-only">Twitter @tjsheehy</span>
                <i class="fa fa-twitter"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</section>

