<section id="team" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">The Team</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="team-member"><img width="225" height="225" src={{ "team/jiggy_pete.jpg" | asset_path }} alt="Peter Aitken" class="img-responsive img-circle">
          <h3 tabindex="0">Peter Aitken</h3>
          <p class="text-muted"><a href="http://scotlandjs.com">Organiser</a></p>
          <ul class="list-inline social-buttons">
            <li><a href="https://twitter.com/jiggy_pete">
                <span class="sr-only">Twitter @jiggy_pete</span>
                <i class="fa fa-twitter"></i></a></li>
            <li><a href="https://github.com/jiggypete">
                <span class="sr-only">Github jiggypete</span>
                <i class="fa fa-github-alt"></i></a></li>
            <li><a href="http://cultivatehq.com/">
                <span class="sr-only">Cultivatehq.com</span>
                <i class="fa fa-globe"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member"><img width="225" height="225" src={{ "team/jessica_rose.jpg" | asset_path }} alt="Jessica Rose" class="img-responsive img-circle">
          <h3 tabindex="0">Jessica Rose</h3>
          <p class="text-muted"><a href="http://scotlandjs.com">MC</a></p>
          <ul class="list-inline social-buttons">
            <li><a href="https://twitter.com/jesslynnrose">
                <span class="sr-only">Twitter @jesslynnrose</span>
                <i class="fa fa-twitter"></i></a></li>
            <li><a href="https://github.com/jessicarose">
                <span class="sr-only">Github jessicarose</span>
                <i class="fa fa-github-alt"></i></a></li>
            <li><a href="http://closetoclever.com">
                <span class="sr-only">closttoclever.com</span>
                <i class="fa fa-globe"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member"><img width="225" height="225" src={{ "team/stuart.jpg" | asset_path }} alt="Stuart Memo" class="img-responsive img-circle">
          <h3 tabindex="0">Stuart Memo</h3>
          <p class="text-muted"><a href="http://scotlandjs.com">MC</a></p>
          <ul class="list-inline social-buttons">
            <li><a href="https://twitter.com/stuartmemo">
                <span class="sr-only">Twitter @stuartmemo</span>
                <i class="fa fa-twitter"></i></a></li>
            <li><a href="https://github.com/stuartmemo">
                <span class="sr-only">Github stuartmemo</span>
                <i class="fa fa-github-alt"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="team-member"><img width="225" height="225" src={{ "team/alan.jpg" | asset_path }} alt="Alan Gardner" class="img-responsive img-circle">
          <h3 tabindex="0">Alan Gardner</h3>
          <p class="text-muted">Staff</p>
          <ul class="list-inline social-buttons">
            <li><a href="https://twitter.com/mr_urf">
                <span class="sr-only">Twitter @mr_urf</span>
                <i class="fa fa-twitter"></i></a></li>
            <li><a href="https://github.com/urfolomeus">
                <span class="sr-only">Github urfolomeus</span>
                <i class="fa fa-github-alt"></i></a></li>
            <li><a href="http://cultivatehq.com/">
                <span class="sr-only">cultivatehq.com</span>
                <i class="fa fa-globe"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member"><img width="225" height="225" src={{ "team/varya.jpg" | asset_path }} alt="Varya Stepanova" class="img-responsive img-circle">
          <h3 tabindex="0">Varya Stepanova</h3>
          <p class="text-muted">Staff</p>
          <ul class="list-inline social-buttons">
            <li><a href="https://twitter.com/varya_en">
                <span class="sr-only">Twitter @varya_en</span>
                <i class="fa fa-twitter"></i></a></li>
            <li><a href="https://github.com/varya">
                <span class="sr-only">Github varya</span>
                <i class="fa fa-github-alt"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member"><img width="225" height="225" src={{ "team/tj.jpg" | asset_path }} alt="TJ Sheehy" class="img-responsive img-circle">
          <h3 tabindex="0">TJ Sheehy</h3>
          <p class="text-muted">Staff</p>
          <ul class="list-inline social-buttons">
            <li><a href="https://twitter.com/tjsheehy">
                <span class="sr-only">Twitter @tjsheehy</span>
                <i class="fa fa-twitter"></i></a></li>
            <li><a href="https://github.com/tjsheehy">
                <span class="sr-only">Github tjsheehy</span>
                <i class="fa fa-github-alt"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="team-member"><img width="225" height="225" src={{ "team/beatrice.jpg" | asset_path }} alt="Béatrice Lejou" class="img-responsive img-circle">
          <h3 tabindex="0">Béatrice Lejou</h3>
          <p class="text-muted">Staff</p>
          <ul class="list-inline social-buttons">
            <li><a href="https://twitter.com/glovesmore">
                <span class="sr-only">Twitter @glovesmore</span>
                <i class="fa fa-twitter"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member"><img width="225" height="225" src={{ "team/andy.jpg" | asset_path }} alt="Andy Robinson" class="img-responsive img-circle">
          <h3 tabindex="0">Andy Robinson</h3>
          <p class="text-muted">Staff</p>
          <ul class="list-inline social-buttons">
            <li><a href="https://twitter.com/andyrobnsn">
                <span class="sr-only">Twitter @andyrobsn</span>
                <i class="fa fa-twitter"></i></a></li>
            <li><a href="http://cultivatehq.com/">
                <span class="sr-only">cultivatehq.com</span>
                <i class="fa fa-globe"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member"><img width="225" height="225" src={{ "team/katie_fenn.jpg" | asset_path }} alt="Katie Fenn" class="img-responsive img-circle">
          <h3 tabindex="0">Katie Fenn</h3>
          <p class="text-muted">Staff</p>
          <ul class="list-inline social-buttons">
            <li><a href="https://twitter.com/katie_fenn">
                <span class="sr-only">Twitter @katie_fenn</span>
                <i class="fa fa-twitter"></i></a></li>
            <li><a href="http://katiefenn.co.uk/">
                <span class="sr-only">katiefenn.co.uk</span>
                <i class="fa fa-globe"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="team-member"><img width="225" height="225" src={{ "team/sareh.jpg" | asset_path }} alt="Sareh Heidari" class="img-responsive img-circle">
          <h3>Sareh Heidari</h3>
          <p class="text-muted">Staff</p>
          <ul class="list-inline social-buttons">
            <li><a href="https://twitter.com/sareh88"><i class="fa fa-twitter"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

