<section id="tickets">
  <div class="container">
    <div class="row">
      <div class="col-mg-12 text-center">
        <h2 class="section-heading">Tickets</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <p class="text-left">
          Tickets batches:
          <ul>
            <li><s>Early Bird, voting tickets. 11th January.</s> Sold out</li>
            <li><s>23rd March.</s> Sold Out</li>
            <li><s>21st April.</s> Sold Out</li>
            <li>Wednesday 4th May at 9am</li>
          </ul>
        </p>
        <p class="text-left">
          We have a variety of tickets available during the next ticket drop:
          <ul>
            <li>£240 Standard Ticket</li>
            <li>£160 Student Ticket</li>
            <li>£300 Standard Ticket + 25% Diversity Ticket</li>
            <li>£360 Standard Ticket + 50% Diversity Ticket</li>
            <li>£420 Standard Ticket + 75% Diversity Ticket</li>
            <li>£480 Standard Ticket + 100% Diversity Ticket</li>
            <li>£360 ScotlandJS + ScotlandCSS Combo Ticket</li>
          </ul>
          Please note that Diversity Tickets are granted to applicants of the Diversity Programme, which is managed by ScotlandJS.
        </p>
        <p>
          <br/>
          <a id="diversity-application" class="button" href="https://ti.to/scotlandjs/scotlandjs-2016" data-mode="1" target="_blank">Buy Tickets</a>
        </p>

      </div>
    </div>
  </div>
</section>
