<section id="tickets">
  <div class="container">
    <div class="row">
      <div class="col-mg-12 text-center">
        <h2 class="section-heading">Tickets</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <p class="text-center">Coming soon!</p>
        <!--
          <p class="text-center">
            <a href="https://ti.to/neouk/scotlandjs-2016">Tickets</a> are now on sale.
          </p>
          <p class="text-center">
            By purchasing your ticket early (mid-Feb or before) you, the attendee, get to vote for the sessions submitted via the CFP that you wish to see as part of ScotlandJS 2016!
          </p>
        -->
      </div>
    </div>
  </div>
</section>
