<section id="tickets">
  <div class="container">
    <div class="row">
      <div class="col-mg-12 text-center">
        <h2 class="section-heading">Tickets</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <p class="text-left">
          Tickets will be released on December 1st 2017, the same day the Call for Proposals opens.
        </p>
        <p>
          To participate in voting on submitted talks simply purchase your ticket before the Call for Proposals closes on March 1st 2018.
        </p>

        <p class="text-left">
          We have a variety of tickets available during the first ticket drop:
          <ul>
            <li>£160 Student Ticket</li>
            <li>£260 Standard Ticket</li>
            <li>£325 Standard Ticket + 25% Diversity Ticket</li>
            <li>£390 Standard Ticket + 50% Diversity Ticket</li>
            <li>£455 Standard Ticket + 75% Diversity Ticket</li>
            <li>£520 Standard Ticket + 100% Diversity Ticket</li>
            <li>£400 ScotlandJS + ScotlandCSS Combo Ticket</li>
          </ul>
        </p>
        <p>
          Your ticket receipt includes a number of important details.
        </p>
        <p>
          First sign up to your choice of Thursday (19th July) evening entertainment, you can play board games or participate in the whisky and gin tasting.
        </p>
        <p>
          The other important piece of info is for attendees visiting Scotland and wanting to see more of the country.
          <a href="https://www.rabbies.com/en/scotland-tours/from-edinburgh">Rabbies Tours</a> have kindly supplied a discount code for all bus tours from leaving Edinburgh between 5th of July and 3rd of August 2018!
        </p>
        <p>
          <br/>
          <!-- <a class="button">Coming Soon</a> -->
          <a class="schedule-button" href="https://ti.to/scotlandjs/scotlandjs-2018" data-mode="1" target="_blank">Buy Tickets</a>
        </p>
      </div>
    </div>
  </div>
</section>

