<section id="venue" class="content-alt">
  <div id="map"></div>
  <div class="container">
    <div class="venue-content">
      <h3>Venue</h3>
      <address>
        Our Dynamic Earth<br />
        Holyrood Rd<br />
        Edinburgh<br />
        EH8 8AS
      </address>
      <p>There are plenty of accommodation options near the venue.</p>
      <p>A full list of options, including bed &amp; breakfasts, can be found at <a href="http://www.laterooms.com">LateRooms.com</a>.</p>
    </div>
  </div>
</section>
