<section id="venue" class="content-body article">
  <div class="container">
    <div class="row">
      <div class="col-mg-12 text-center">
        <h2 class="section-heading">Venue</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-sm-5">
        <p class="text-left">
          Our home again for the third time is the stunning, Our Dynamic Earth, situated across the road from parliament and infront of Sailsbury Crags!
          <a href="https://goo.gl/maps/AjL89ZDdVaT2">
            <address>
              Our Dynamic Earth<br />
              Holyrood Rd<br />
              Edinburgh<br />
              EH8 8AS
            </address>
          </a>
          <p>There are plenty of accommodation options near the venue.</p>
          <p>A full list of options, including bed &amp; breakfasts, can be found at <a href="http://www.laterooms.com">LateRooms.com</a>.</p>
        </p>
      </div>
      <div class="col-sm-5 venue">
        <img src="{{ 'venue.jpg' | asset_path }}"></img>
      </div>
    </div>
  </div>
</section>
