{% for s in site.data.speakers %}
  {% if s.name == include.speaker %}
    {% assign speaker = s %}
  {% endif %}
{% endfor %}



<br/>
<div class="info">
  <div class="container">
  <p>
    <h4>
      {% if speaker.schedule_name %}
         {{ speaker.schedule_name }}
      {% else %}
        {{ speaker.name }}
      {% endif %}
      :
      {{ speaker.title }}
    </h4>
  </p>

    <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/{{ speaker.youtube }}" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
