%section.banner
  .container
    %h1 Scotland JS
    %h2 May 9th &amp; 10th, 2014

    %a.button-video{ href: "#video" }
      %span.icon-play
      Watch the 2013 video
    %a.close-video{ href: "#close-video" }
      %span.icon-close
      Close video

    .button-primary
      %a{ href: "#purchase" } Purchase Tickets
  .video
    .container
      %iframe{ src: "//player.vimeo.com/video/70637558?portrait:0", frameborder: "0", webkitallowfullscreen: "webkitallowfullscreen", mozallowfullscreen: "mozallowfullscreen", allowfullscreen: "allowfullscreen" }
