%section.banner
  .container
    %h1 Scotland JS
    %h2 May 9th &amp; 10th, 2014

    %a.button-video{ href: "#video" }
      %span.icon-play
      Watch the 2013 video

    .button-primary
      %a{ href: "#purchase" } Purchase Tickets
