%section#tagline
  .container
    %p
      Scotland JS is a JavaScript based community event running for the third year. Our delegates have the opportunity to learn from leaders in the field and also share their own knowledge and experience with others.
