%section.content#venue
  #map
  .container
    .venue-content
      %h3 Venue
      %address
        Our Dynamic Earth
        %br
        Holyrood Rd
        %br
        Edinburgh
        %br
        EH8 8AS
      %p There are plenty of accommodation options near the venue.
      %p A full list of options, including bed & breakfasts, can be found at LateRooms.com.
