<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>ScotlandJS</title>
  <meta name="description" content="The JavaScript conference in Edinburgh, Scotland, June 2nd and 3rd 2016">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
  <link rel="shortcut icon" href={{ "favicons/favicon.ico" | asset_path }}>
  <meta name="apple-mobile-web-app-title" content="scotlandjs">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="application-name" content="scotlandjs">
  <link rel="shortcut icon" href="/favicons/favicon.ico">
  <meta itemprop="name" content="ScotlandJS conference">
  <meta itemprop="description" content="The Scottish JavaScript conference in Edinburgh, Scotland June 2nd and 3rd 2016">
  <!-- Twitter Card data-->
  <meta name="twitter:card" content="product">
  <meta name="twitter:site" content="@scotlandjs">
  <meta name="twitter:title" content="ScotlandJS">
  <meta name="twitter:description" content="The Scottish JavaScript conference in Edinburgh, Scotland June 2nd and 3rd 2016">
  <meta name="twitter:creator" content="@ScotlandJS">
  <meta name="twitter:data1" content="The Scottish JavaScript conference in Edinburgh, Scotland June 2nd and 3rd 2016">
  <meta name="twitter:label1" content="">
  <meta name="twitter:data2" content="The Scottish JavaScript conference in Edinburgh, Scotland June 2nd and 3rd 2016">
  <meta name="twitter:label2" content="">
  <!-- Open Graph data-->
  <meta property="og:title" content="ScotlandJS conference">
  <meta property="og:type" content="article">
  <meta property="og:url" content="https://scotlandjs.com">
  <meta property="og:description" content="The Scottish JavaScript conference in Edinburgh, Scotland June 2nd and 3rd 2016">
  <meta property="og:site_name" content="The Scottish JavaScript conference">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic&amp;subset=latin" rel="stylesheet">
  {% stylesheet vendor/bootstrap/dist/css/bootstrap.css %}
  {% stylesheet vendor/font-awesome/css/font-awesome.css %}
  {% stylesheet application %}
  <style type="text/css">@font-face {font-family: "Easycore"; src: url('/fonts/Easycore.ttf') format("truetype");}</style>

{% javascript vendor/jquery/dist/jquery.js %}
{% javascript vendor/jquery.easing/jquery.easing.1.3.min.js %}
{% javascript vendor/picturefill/dist/picturefill.js %}
{% javascript vendor/headroom.js/dist/headroom.js %}
{% javascript vendor/headroom.js/dist/jQuery.headroom.js %}
{% javascript vendor/bootstrap/js/transition.js %}
{% javascript vendor/bootstrap/js/modal.js %}
{% javascript vendor/bootstrap/js/scrollspy.js %}
{% javascript vendor/bootstrap/js/collapse.js %}


  {% javascript application %}
</head>
  <body>
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
  </body>
</html>
