<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    {% stylesheet application %}
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif" rel="stylesheet" type="text/css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
    <script src="//maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-46640560-1']);
      _gaq.push(['_setDomainName', 'scotlandjs.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    {% javascript application %}
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="google-site-verification" content="4vTkBBnP6Cxh-ZZ7zReI-CzWqC9uZ8eLaIDQp6PvcAI" />
  </head>
  <body>
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
  </body>
</html>
