---
layout: default
---

{% for s in site.data.speakers %}
  {% if s.name == page.speaker_name %}
    {% assign speaker = s %}
  {% endif %}
{% endfor %}

<section id="speaker">
  <div class="container">
    <img src="{{ speaker.image | asset_path }}" />

    <div class="speaker-bio">
      <header>
        <h3>
          {{ speaker.name }}
          <a href="http://twitter.com/{{speaker.twitter}}" target="_blank">
            <em>{{ speaker.twitter }}</em>
          </a>
        </h3>
      </header>

      <p>{{ speaker.bio }}</p>
    </div>
  </div>
</section>

{% if speaker.additional_speaker %}
  {% assign additional_speaker = speaker.additional_speaker %}
  <section id="speaker">
    <div class="container">
      <img src="{{ additional_speaker.image | asset_path }}" />

      <div class="speaker-bio">
        <header>
          <h3>
            {{ additional_speaker.name }}
            <a href="http://twitter.com/{{additional_speaker.twitter}}" target="_blank">
              <em>{{ additional_speaker.twitter }}</em>
            </a>
          </h3>
        </header>

        <p>{{ additional_speaker.bio }}</p>
      </div>
    </div>
  </section>
{% endif %}

<section id="speaker-talk">
  <div class="container">
    <article>
      <header>
        <h1>{{ speaker.title }}</h1>
      </header>

      {% if speaker.youtube %}
        <br/>
        <div class="video">
          <div class="container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ speaker.youtube }}" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      {% endif %}


      {{ page.content }}
    </article>
  </div>
</section>
