@import "_normalize"
@import "_bourbon/bourbon"
@import "_neat/neat"
@import "_fonts"

$font: 'Droid Serif', serif
$font-alt: 'Droid Sans', sans-serif

$primary: #394249
$primary-highlight: #5695BE
$primary-text: #7F8489
$secondary: #F9F9F9
$tagline: #F3F0E6

$button: #8D2D2D

$text-color: $primary

$margin: 20px

$mobile: new-breakpoint(max-width 480px 4)
$tablet: new-breakpoint(max-width 768px 8)
$desktop: new-breakpoint(min-width 769px 12)

body
  background-color: $primary
  color: $text-color
  font-family: $font
  font-size: em(16)
  line-height: 2

a
  text-decoration: none

.button-primary
  @include transition(all 0.2s)
  background-color: $button
  display: inline-block
  line-height: 1

  &:hover
    background-color: darken($button, 5%)

  a
    border: 1px solid #A96161
    color: #FFF
    display: block
    font-size: em(16)
    margin: 5px
    padding: $margin $margin*2.5
    text-transform: uppercase

.button-video, .close-video
  @include transition(all .4s)
  @include position(absolute, $margin $margin 0 0)
  background-color: rgba(0, 0, 0, .45)
  color: #FFF
  display: block
  font-family: $font-alt
  line-height: 1
  padding: 13px $margin

  &:hover
    background-color: rgba($primary-highlight, .75)

.button-video
  @include media($tablet)
    @include position(relative, 0px 0px 0 0)
    display: inline-block
    margin:
      top: $margin*2
      bottom: $margin*2

  @include media($desktop)
    &.hide
      display: none

.close-video
  display: none
  z-index: 999

  &.show
    display: block

    @include media($tablet)
      @include position(absolute, $margin/2 $margin/2 0 0)
      margin: 0

.container
  @include outer-container

header
  @include row
  padding-top: 54px

  nav
    @include position(fixed, 0px 0px 0 0px)
    background-color: $primary
    z-index: 999

    p
      @include fill-parent
      color: $primary-text
      display: none
      margin: 0
      padding: 11px 0
      text-align: center

      @include media($tablet)
        display: inline-block

    .icon-twitter, .icon-menu
      @include transition(all .4s)
      color: #FFF
      font-size: em(28)
      padding: 13px

      &:hover
        background-color: $primary-highlight

    .icon-menu
      display: none

      @include media($tablet)
        @include position(absolute, 0px 0 0 0px)
        display: inline

    .icon-twitter
      @include position(absolute, 0px 0px 0 0)

  ul
    list-style-type: none
    margin: 0
    padding: 0

    @include media($tablet)
      display: none

      &.show
        display: block

  li
    @include span-columns(3)
    display: inline-block
    font-size: em(14)
    line-height: 1

    @include media($tablet)
      @include fill-parent

    a
      @include transition(all 0.4s)
      color: #FFF
      display: block
      padding: $margin 0
      text-align: center
      text-transform: uppercase

      &:hover
        background-color: $primary-highlight

footer
  color: $primary-text
  padding:
    top: $margin
    bottom: $margin * 2
  text-align: center

  p
    @include span-columns(8)
    @include shift(2)
    margin:
      top: 0
      bottom: 0

.content, .content-alt
  h3
    font-size: em(18)
    font-weight: normal
    text-align: center
    text-transform: uppercase

    &:before, &:after
      content: " - "

.content
  background-color: #FFF

.content-alt
  background-color: $secondary

@import "_banner"
@import "_tagline"
@import "_schedule"
@import "_speakers"
